<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>云平台 API文档</title>
    <meta name="description" content="">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" type="image/x-icon"　/>
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/AmazeUI/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="__STATIC__/AmazeUI/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__STATIC__/AmazeUI/assets/css/admin.css">
    <style>
        .text-overflow{
            white-space: nowrap;word-break: keep-all;overflow: hidden;text-overflow: ellipsis;
        }
    </style>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，页面暂不支持。 请 <a href="http://browsehappy.com/"
                                                                 target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

{eq name="$admin" value="1"}
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li >
            <a href="/index/admin/add"><span class="am-icon-user"></span> 添加页面</a>
        </li>
        <li>
        <li><a href="/index/admin/export"><span class="am-icon-cog"></span> 导出word</a></li>
        </li>
        <li>
            <a href="/index/login/logout"><span class="am-icon-power-off"></span> 退出</a>
        </li>
    </ul>
</div>
{/eq}

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <form method="get" action="/search">
                    <input type="text" class="am-form-field am-input-sm" placeholder="搜索..." name="key"/>
                </form>
            </div>
        </div>
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <section data-am-widget="accordion" class="am-accordion am-accordion-basic" data-am-accordion='{"multiple": true}'>
                {volist name="menu" id="vo"}
                    <dl class="am-accordion-item <?php if(isset($api) && ($vo['id']==$api['pid'] || $vo['id']==$api['id'])){echo 'am-active';}?> ">
                        <dt class="am-accordion-title">
                        <a href="/show/{$vo.id}"> {$vo.title} </a>
                        </dt>
                        <?php if($vo['son']){?>
                        <dd class="am-accordion-bd am-collapse <?php if(isset($api) && ($vo['id']==$api['pid'] || $vo['id']==$api['id'])){echo 'am-in';}?>">
                            <div class="am-accordion-content">
                                {volist name="vo.son" id="vo2"}
                                <div class="text-overflow" style="margin: 5px 0;">  <a href="/show/{$vo2.id}"><span class="am-icon-file-text-o"></span> {$vo2.title} </a></div>
                                {/volist}
                            </div>
                        </dd>
                        <?php }?>
                    </dl>
                {/volist}
            </section>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <hr>
            {__CONTENT__}
        </div>

        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">Copyright © 2011-<?=date('Y')?> </p>
        </footer>

    </div>
    <!-- content end -->
</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__STATIC__/AmazeUI/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__STATIC__/AmazeUI/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__STATIC__/AmazeUI/assets/js/amazeui.min.js"></script>
<script src="__STATIC__/AmazeUI/assets/js/app.js"></script>
<script src="__STATIC__/js/jquery.form.js"></script>
<script src="__STATIC__/js/common.js"></script>
</body>
</html>
